<div class="jumbotron">
	<div class="row center">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
			  <img src="<%= @user_info[:profile_picture] %>">
			  <div class="caption">
			    <h3><%= @user_info[:username] %></h3>
			    <p><%= @user_info[:fullname] %></p>
			    <p><%= @user_info[:uid] %></p>
			    <p><%= @user_info[:bio] %></p>
			    <p><%= @user_info[:website] %></p>
			  </div>
			</div>
		</div>
	</div>
</div>